/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .links a {
    margin-right: 3%;
  }
}
.component1 {
  width: 100%;
  min-width: 1545;
  height: 100.96px;
  background-color: #666666;
}
.component1 .cont1 {
  width: 100%;
  height: 100.96px;
  background-color: rgba(0, 0, 0, 0.65);
}
.component1 .cont1 .cont1-1 {
  width: 100%;
  height: 100.96px;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.component1 .cont1 .cont1-1 .links {
  margin-left: 17%;
  width: 38.54%;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.component1 .cont1 .cont1-1 .links a {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 14px;
}
.component1 .cont1 .cont1-1 .bar {
  display: none;
  width: 7.29%;
  height: 39px;
  background-color: #3AB6B2;
  border: 1px solid #FFFFFF;
}
.component1 .cont1 .cont1-1 .bar .rects {
  display: none;
  width: 53%;
}
.component1 .cont1 .cont1-1 .bar .rects .rect {
  display: none;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .component1 {
    width: 100%;
    height: 66.92px;
  }
  .component1 .cont1 {
    width: 100%;
    height: 66.92px;
  }
  .component1 .cont1 .cont1-1 {
    width: 100%;
    height: 66.92px;
  }
  .component1 .cont1 .cont1-1 .parry {
    height: 38.49px;
  }
  .component1 .cont1 .cont1-1 .bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: block;
    margin-left: 45%;
    height: 31px;
    width: 48px;
  }
  .component1 .cont1 .cont1-1 .bar .rects {
    display: block;
    position: absolute;
    top: 15%;
    left: 21%;
  }
  .component1 .cont1 .cont1-1 .bar .rects .rect {
    color: #FFFFFF;
    display: block;
  }
  .component1 .cont1 .cont1-1 .links {
    display: none;
  }
  .component1 .cont1 .cont1-1 .links a {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .component1 {
    width: 100%;
    height: 108.92px;
  }
  .component1 .cont1 {
    width: 100%;
    height: 108.92px;
  }
  .component1 .cont1 .cont1-1 {
    width: 100%;
    height: 108.92px;
  }
  .component1 .cont1 .cont1-1 .bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: block;
    margin-left: 72%;
  }
  .component1 .cont1 .cont1-1 .bar .rects {
    display: block;
    position: absolute;
    top: 15%;
    left: 21%;
  }
  .component1 .cont1 .cont1-1 .bar .rects .rect {
    color: #FFFFFF;
    display: block;
  }
  .component1 .cont1 .cont1-1 .links {
    display: none;
  }
  .component1 .cont1 .cont1-1 .links a {
    display: none;
  }
}
.component2 {
  width: 100%;
  height: 760.06px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component2 .cont2 {
  width: 100%;
  height: 760.06px;
  background-image: url("images/component2/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component2 .cont2 .left-2, .component2 .cont2 .right-2 {
  margin-left: 2%;
  margin-bottom: 6%;
}
.component2 .cont2 .right-2 {
  margin-right: 2%;
}
.component2 .cont2 .texts2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  margin-bottom: 2%;
}
.component2 .cont2 .texts2 .txt1 {
  color: #FFFFFF;
  font-size: 62px;
  font-family: raleway;
  font-weight: 200;
  text-align: center;
  line-height: 74.4px;
}
.component2 .cont2 .texts2 .txt2 {
  color: #FFFFFF;
  font-size: 74px;
  font-family: montserrat;
  text-align: center;
  font-weight: 700;
  line-height: 88.8px;
  letter-spacing: -2px;
}
.component2 .cont2 .texts2 .txt3 {
  color: #FFFFFF;
  font-size: 20px;
  font-family: raleway;
  text-align: center;
  font-weight: 300;
  line-height: 24px;
}
.component2 .cont2 .texts2 .txt3-1 {
  display: none;
}
.component2 .cont2 .texts2 .btn-wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3AB6B2;
  width: 20%;
  height: 44px;
  margin-top: 5%;
}
.component2 .cont2 .texts2 .btn-wrapper-2 .btn-2 {
  height: 38px;
  width: 95.88%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.component2 .cont2 .texts2 .btn-wrapper-2 .btn-2 .read-2 {
  font-size: 13px;
  font-family: raleway;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .component2 {
    width: 100%;
    height: 212.62px;
  }
  .component2 .cont2 {
    width: 100%;
    height: 212.62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .component2 .cont2 .left-2, .component2 .cont2 .right-2 {
    display: none;
  }
  .component2 .cont2 .left-1 {
    display: none;
  }
  .component2 .cont2 .texts2 {
    margin-bottom: 5%;
  }
  .component2 .cont2 .texts2 .txt1 {
    color: #FFFFFF;
    font-size: 25px;
    font-family: raleway;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
  }
  .component2 .cont2 .texts2 .txt2 {
    color: #FFFFFF;
    font-size: 30px;
    font-family: montserrat;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -2px;
  }
  .component2 .cont2 .texts2 .txt3 {
    color: #FFFFFF;
    font-size: 9px;
    font-family: raleway;
    text-align: center;
    font-weight: 300;
    line-height: 10.8px;
    overflow: hidden;
  }
  .component2 .cont2 .texts2 .txt3 .disappear {
    display: none;
  }
  .component2 .cont2 .texts2 .btn-wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3AB6B2;
    width: 20%;
    height: 19px;
    margin-top: 5%;
  }
  .component2 .cont2 .texts2 .btn-wrapper-2 .btn-2 {
    height: 19px;
    width: 95.88%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
  }
  .component2 .cont2 .texts2 .btn-wrapper-2 .btn-2 .read-2 {
    font-size: 7px;
    font-family: raleway;
    font-weight: 700;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .component2 {
    height: 592.04px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .component2 .cont2 {
    display: flex;
    justify-content: center;
    height: 592.04px;
  }
  .component2 .cont2 .left-2, .component2 .cont2 .right-2 {
    display: none;
  }
  .component2 .cont2 .left-1 {
    display: none;
  }
  .component2 .cont2 .texts2 {
    margin-bottom: 5%;
  }
  .component2 .cont2 .texts2 .txt1 {
    color: #FFFFFF;
    font-size: 58.81px;
    font-family: raleway;
    font-weight: 200;
    text-align: center;
    line-height: 74.4px;
  }
  .component2 .cont2 .texts2 .txt2 {
    color: #FFFFFF;
    font-size: 71.77px;
    font-family: montserrat;
    text-align: center;
    font-weight: 700;
    line-height: 88.8px;
    letter-spacing: -2px;
  }
  .component2 .cont2 .texts2 .txt3 {
    color: #FFFFFF;
    font-size: 18.94px;
    font-family: raleway;
    text-align: center;
    font-weight: 300;
    line-height: 24px;
  }
  .component2 .cont2 .btn-wrapper {
    width: 56px;
    height: 39px;
  }
}
.component3 {
  position: relative;
  width: 100%;
  height: 811.97px;
}
.component3 .part2 {
  display: none !important;
  position: relative;
  width: 100%;
  height: 1129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component3 .part2 .img3-1 {
  width: 93.4895%;
  height: 37.28%;
  align-self: center;
  justify-self: center;
}
.component3 .part1 {
  position: relative;
  width: 100%;
  height: 811.97px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component3 .title3 {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.component3 .title3 .icons3 {
  display: flex;
  align-items: center;
}
.component3 .title3 .icons3 .img3 {
  padding-left: 3px;
  padding-right: 3px;
}
.component3 .title3 .icons3 .rect3 {
  width: 37px;
  height: 1.1px;
  background-color: #D3D3D3;
}
.component3 .title3 .title3-1 {
  color: #323232;
  font-family: Raleway;
  font-weight: 600;
  font-size: 31px;
  padding-bottom: 10px;
}
.component3 .title3 .title3-1 .colored3 {
  color: #3AB6B2;
}
.component3 .content3 {
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.component3 .content3 .comp {
  align-self: center;
  position: relative;
  width: 25.5625%;
  margin-right: 120px;
}
.component3 .content3 .comp .pc {
  width: 105%;
}
.component3 .content3 .comp .screen {
  position: absolute;
  width: 96.77%;
  height: 65.43%;
  left: 4.6%;
  top: 5%;
}
.component3 .content3 .texts3 {
  display: flex;
  flex-direction: column;
}
.component3 .content3 .texts3 .ttext {
  display: flex;
  flex-direction: column;
}
.component3 .content3 .texts3 .ttext .ttl3 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 31px;
  color: #323232;
  line-height: 19px;
  margin-bottom: 25px;
  margin-top: 5px;
}
.component3 .content3 .texts3 .ttext .txt3-1 {
  color: #6A6A6A;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 27px;
}
.component3 .content3 .texts3 .ttext .icon3 {
  display: grid;
  grid-template-columns: repeat(2, 275.5px);
  grid-template-rows: repeat(2, 89.71px);
  grid-gap: 30px;
}
.component3 .content3 .texts3 .ttext .icon3 .three {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 275.5px;
  height: 89.71px;
}
.component3 .content3 .texts3 .ttext .icon3 .three .ic {
  position: relative;
  background-color: #3B3B3B;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  margin-right: 25px;
}
.component3 .content3 .texts3 .ttext .icon3 .three .ic .ic-img {
  position: absolute;
  top: 30%;
  left: 30%;
}
.component3 .content3 .texts3 .ttext .icon3 .three .ic .lefts {
  left: 37%;
}
.component3 .content3 .texts3 .ttext .icon3 .three .inner {
  box-sizing: border-box;
  padding-top: 35px;
}
.component3 .content3 .texts3 .ttext .icon3 .three .inner .in1 {
  font-family: raleway;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
}
.component3 .content3 .texts3 .ttext .icon3 .three .inner .in2 {
  color: #6A6A6A;
  font-family: Open Sans;
  font-size: 13px;
  line-height: 22px;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .component3 {
    position: relative;
    width: 100%;
  }
  .component3 .part1 {
    display: none;
  }
  .component3 .part2 {
    display: flex !important;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 38px;
    height: auto;
  }
  .component3 .part2 .line3 {
    width: 96%;
    height: 1px;
    background-color: #E6E6E6;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .component3 .part2 .img3-1 {
    width: 87.5%;
    height: 207px;
  }
  .component3 .part2 .title3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .component3 .part2 .title3-1 {
    font-size: 27px;
    line-height: 30.2px;
  }
  .component3 .part2 .last {
    margin-bottom: 2%;
  }
  .component3 .part2 .txt3-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .component3 .part2 .disappear1 {
    display: none;
  }
  .component3 .part2 .txt3-1-2 {
    padding-top: 12px;
    box-sizing: border-box;
    width: 96.94%;
    height: 39.3162%;
    padding-left: 5%;
  }
  .component3 .part2 .txt3-1-2 .txt3-1 {
    font-size: 13px;
    line-height: 23px;
    font-family: Open Sans;
    color: #525252;
  }
  .component3 .part2 .txt3-1-2 .ttl3-1 {
    font-family: Raleway;
    font-size: 16px;
    letter-spacing: -0.6px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .component3 .part2 .txt3-1-2 .three-1 {
    display: flex;
    height: 50.33px;
    margin-bottom: 15px;
  }
  .component3 .part2 .txt3-1-2 .three-1 .img3-2 {
    padding-bottom: 15px;
    padding-right: 3%;
  }
  .component3 .part2 .btn-3-1 {
    background-color: #3AB6B2;
    width: 138px;
    height: 42px;
    border: transparent;
    margin-top: 23px;
  }
  .component3 .part2 .btn-3-1 span {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .component3 {
    position: relative;
    width: 100%;
    height: 1135px;
  }
  .component3 .part2 {
    display: flex !important;
  }
  .component3 .part2 .disappear1-2 {
    display: none;
  }
  .component3 .part2 .title3 {
    margin-top: 0;
    margin-bottom: 55px;
  }
  .component3 .part2 .title3 .txt3-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .component3 .part2 .title3 .title3-1 {
    padding-bottom: 10px;
    font-size: 28.88px;
    line-height: 32.43px;
  }
  .component3 .part2 .last {
    margin-bottom: 2%;
  }
  .component3 .part2 .txt3-1-2 {
    padding-top: 12px;
    box-sizing: border-box;
    width: 96.94%;
    height: 39.3162%;
    padding-left: 1.2%;
  }
  .component3 .part2 .txt3-1-2 .txt3-1 {
    font-size: 13px;
    line-height: 23px;
    font-family: Open Sans;
    color: #525252;
  }
  .component3 .part2 .txt3-1-2 .ttl3-1 {
    font-family: Raleway;
    font-size: 25px;
    letter-spacing: -0.6px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding-top: 3%;
  }
  .component3 .part2 .txt3-1-2 .three-1 {
    display: flex;
    height: 50.33px;
    margin-bottom: 15px;
  }
  .component3 .part2 .txt3-1-2 .three-1 .img3-2 {
    padding-bottom: 15px;
    padding-right: 3%;
  }
  .component3 .part2 .btn-3-1 {
    background-color: #3AB6B2;
    width: 138px;
    height: 42px;
    border: transparent;
    margin-top: 23px;
  }
  .component3 .part2 .btn-3-1 span {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 34px;
  }
  .component3 .part1 {
    display: none;
  }
}
.component4 {
  position: relative;
  height: 783px;
  width: 100%;
  background-image: url("images/component4/galaxy.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.component4 .title4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 125px;
}
.component4 .title4 .icons4 {
  display: flex;
  align-items: center;
}
.component4 .title4 .icons4 .img4 {
  padding-left: 8%;
  padding-right: 8%;
}
.component4 .title4 .icons4 .rect4 {
  width: 37px;
  height: 1.1px;
  background-color: #D3D3D3;
}
.component4 .title4 .title4-1-2 {
  color: #FFFFFF;
  font-family: Raleway;
  font-weight: 600;
  line-height: 34px;
  font-size: 31px;
  padding-bottom: 10px;
}
.component4 .container4 {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}
.component4 .icon4 {
  display: flex;
  position: relative;
  justify-content: center;
}
.component4 .icon4 .hover {
  display: none;
  width: 30%;
}
.component4 .icon4 .polygon {
  position: relative;
  margin-bottom: 40px;
  width: 30%;
}
.component4 .icon4 .stat {
  position: absolute;
  top: 37%;
}
.component4 .txts4-1 .title4-1 {
  color: #3AB6B2;
  font-size: 20px;
  font-family: raleway;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.component4 .txts4-1 .text4-1 {
  font-size: 14px;
  font-family: Open sans;
  text-align: center;
  color: #FFFFFF;
  line-height: 22px;
}
.component4 .icon4:hover .hover {
  display: block;
  position: relative;
  margin-bottom: 40px;
}
.component4 .icon4:hover .polygon {
  position: absolute;
  top: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .component4 {
    height: 1107.82px;
    width: 100%;
    display: flex;
  }
  .component4 .container4 {
    width: 87.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 43px;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
  }
  .component4 .txts4-1 .title4-1 {
    color: #3AB6B2;
    font-size: 18.96px;
    font-family: raleway;
    line-height: 37.97px;
    font-weight: 700;
    text-align: center;
  }
  .component4 .txts4-1 .text4-1 {
    font-size: 12.98px;
    font-family: Open sans;
    text-align: center;
    color: #FFFFFF;
    line-height: 20.88px;
  }
  .component4 .icon4 {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .component4 .icon4 .hover {
    display: none;
    width: 118.02px;
  }
  .component4 .icon4 .polygon {
    position: relative;
    margin-bottom: 20px;
    width: 118.02px;
  }
  .component4 .icon4 .stat {
    position: absolute;
    top: 35%;
  }
  .component4 .icon4:hover .hover {
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .component4 .icon4:hover .polygon {
    position: absolute;
    top: 0px;
  }
  .component4 .title4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .component4 .title4 .title4-1-2 {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 600;
    line-height: 27px;
    font-size: 30.2px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .component4 {
    height: 1287px;
    width: 100%;
    display: flex;
  }
  .component4 .container4 {
    width: 59.41%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    justify-content: center;
    align-content: center;
  }
  .component4 .icon4 {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .component4 .icon4 .hover {
    display: none;
    width: 124.52px;
  }
  .component4 .icon4 .polygon {
    position: relative;
    margin-bottom: 20px;
    width: 124.52px;
  }
  .component4 .icon4 .stat {
    position: absolute;
    top: 35%;
  }
  .component4 .icon4:hover .hover {
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .component4 .icon4:hover .polygon {
    position: absolute;
    top: 0px;
  }
  .component4 .title4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .component4 .title4 .title4-1-2 {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 600;
    line-height: 32.36px;
    font-size: 28.99px;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
